:root {
    --lg-bg-color: var(--c-white-25);
    --lg-highlight: var(--c-white-75);
    --lg-text: var(--c-white);
    --lg-hover-glow: var(--c-white-40);
}

.glass-filter {
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0px);
    filter: url(#lg-dist);
    isolation: isolate;
  }
  
  .glass-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: var(--lg-bg-color);
  }
  
  .glass-specular {
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: inherit;
    overflow: hidden;
    box-shadow: inset 1px 1px 0 var(--lg-highlight),
      inset 0 0 5px var(--lg-highlight);
  }
  
  .glass-content {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem 1.5rem 0.9rem;
  }
  
  .glass-content--inline {
    padding: 0.25rem 2rem 0.25rem 0.75rem;
    flex: 1 1 auto;
    justify-content: space-between;
  }
